<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/assignment/1">Assignment 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/assignment/2">Assignment 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/assignment/3">Assignment 3</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>