<%- include('partials/header.ejs') %> 

<div>
  <%- include('partials/navbar.ejs') %>
  <div class="m-3">
    <div class="d-grid gap-2">
      <button id="startButton" class="btn btn-success" type="button">START</button>
      <button id="stopButton" class="btn btn-danger" type="button">STOP</button>
    </div>

    <div class="row align-items-center">
      <h1 class="text-center">ROOM AREA 1</h1>

      <div class="col container card">
        <div class="card-header">
          <h2 class="text-center">Temperature</h2>
        </div>
        <div class="card-body">
          <canvas id="roomArea1-temperature"></canvas>
        </div>
        <div class="row m-3 align-items-center">
          <div class="card col-2 mx-auto my-auto bg-primary"><p class="text-center">MIN</p><p class="roomArea1TempChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-danger"><p class="text-center">MAX</p><p class="roomArea1TempChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-warning"><p class="text-center">MEDIAN</p><p class="roomArea1TempChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-success"><p class="text-center">AVG</p><p class="roomArea1TempChart text-center">Hubla</p></div>
        </div>
      </div>

      <div class="col container card">
        <div class="card-header">
          <h2 class="text-center">Humidity</h2>
        </div>
        <div class="card-body">
          <canvas id="roomArea1-humidity"></canvas>
        </div>
        <div class="row m-3 align-items-center">
          <div class="card col-2 mx-auto my-auto bg-primary"><p class="text-center">MIN</p><p class="roomArea1HumidChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-danger"><p class="text-center">MAX</p><p class="roomArea1HumidChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-warning"><p class="text-center">MEDIAN</p><p class="roomArea1HumidChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-success"><p class="text-center">AVG</p><p class="roomArea1HumidChart text-center">Hubla</p></div>
        </div>   
      </div>

    </div>

    <div class="row align-items-center">
      <h1 class="text-center">ROOM AREA 2</h1>

      <div class="col card m-3">
        <div class="card-header">
          <h2 class="text-center">Temperature</h2>
        </div>
        <div class="card-body">
          <canvas id="roomArea2-temperature"></canvas>
        </div>
        <div class="row m-3 align-items-center">
          <div class="card col-2 mx-auto my-auto bg-primary"><p class="text-center">MIN</p><p class="roomArea2TempChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-danger"><p class="text-center">MAX</p><p class="roomArea2TempChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-warning"><p class="text-center">MEDIAN</p><p class="roomArea2TempChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-success"><p class="text-center">AVG</p><p class="roomArea2TempChart text-center">Hubla</p></div>
        </div>   
      </div>

      <div class="col card m-3">
        <div class="card-header">
          <h2 class="text-center">Humidity</h2>
        </div>
        <div class="card-body">
          <canvas id="roomArea2-humidity"></canvas>
        </div>        
        <div class="row m-3 align-items-center">
          <div class="card col-2 mx-auto my-auto bg-primary"><p class="text-center">MIN</p><p class="roomArea2HumidChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-danger"><p class="text-center">MAX</p><p class="roomArea2HumidChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-warning"><p class="text-center">MEDIAN</p><p class="roomArea2HumidChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-success"><p class="text-center">AVG</p><p class="roomArea2HumidChart text-center">Hubla</p></div>
        </div>   
      </div>

    </div>

    <div class="row align-items-center">
      <h1 class="text-center">ROOM AREA 3</h1>
      
      <div class="col card m-3">
        <div class="card-header">
          <h2 class="text-center">Temperature</h2>
        </div>
        <div class="card-body">
          <canvas id="roomArea3-temperature"></canvas>
        </div>    
        <div class="row m-3 align-items-center">
          <div class="card col-2 mx-auto my-auto bg-primary"><p class="text-center">MIN</p><p class="roomArea3TempChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-danger"><p class="text-center">MAX</p><p class="roomArea3TempChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-warning"><p class="text-center">MEDIAN</p><p class="roomArea3TempChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-success"><p class="text-center">AVG</p><p class="roomArea3TempChart text-center">Hubla</p></div>
        </div>       
      </div>

      <div class="col card m-3">
        <div class="card-header">
          <h2 class="text-center">Humidity</h2>
        </div>
        <div class="card-body">
          <canvas id="roomArea3-humidity"></canvas>
        </div> 
        <div class="row m-3 align-items-center">
          <div class="card col-2 mx-auto my-auto bg-primary"><p class="text-center">MIN</p><p class="roomArea3HumidChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-danger"><p class="text-center">MAX</p><p class="roomArea3HumidChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-warning"><p class="text-center">MEDIAN</p><p class="roomArea3HumidChart text-center">Hubla</p></div>
          <div class="card col-2 mx-auto my-auto bg-success"><p class="text-center">AVG</p><p class="roomArea3HumidChart text-center">Hubla</p></div>
        </div>            
      </div>

    </div>
  </div>
</div>

<script src="/static/assignment3.js"></script>

<%- include('partials/footer.ejs') %> 