<%- include('partials/header.ejs') %> 

<% const dollarUSLocale = new Intl.NumberFormat('en-US', {
    style: 'currency',
    currency: 'USD'
}) %>

<% const rupiahIDRLocale = new Intl.NumberFormat('en-US', {
    style: 'currency',
    currency: 'IDR'
}) %>

<div>
  <%- include('partials/navbar.ejs') %>
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead class="table-warning">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">E-mail</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Salary in IDR</th>
                <th scope="col">Salary in USD</th>
              </tr>
            </thead>
            <tbody>
              <% array.forEach(element => { %>
                <tr>
                  <th scope="row"><%= element.id %></th>
                  <td><%= element.name %></td>
                  <td><%= element.username %></td>
                  <td><%= element.email %></td>
                  <td>
                      <% delete element.address.geo %> 
                      <% Object.values(element.address).forEach(value => { %>
                      <%= value %>
                    <% }) %> 
                  </td>
                  <td><%= element.phone %></td>
                  <td><%= rupiahIDRLocale.format(element.salaryInIDR.toFixed(3)) %></td>
                  <td><%= dollarUSLocale.format(element.salaryInUSD.toFixed(3)) %></td>
                </tr>
              <% }); %> 
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

<%- include('partials/footer.ejs') %> 